<h3 id="section2">取り扱う魚</h3>
<div class="main-content">
  <div class="fish"> 
    <div class="fish-name">
      <ruby><rb>虹鱒</rb><rp>（</rp><rt>ニジマス</rt><rp>）</rp></ruby>
    </div>
    <div>
      <%= image_tag "nizimasu.jpg", class: "fish-img" %>
    </div>
  </div>
  <div class="fish"> 
    <div class="fish-name">
      <ruby><rb>岩魚</rb><rp>（</rp><rt>イワナ</rt><rp>）</rp></ruby>
    </div>
    <div>
      <%= image_tag "nizimasu.jpg", class: "fish-img" %>
    </div>
  </div>
  <div class="fish"> 
    <div class="fish-name">
      <span><ruby><rb></rb>信州</rb><rp>（</rp><rt>しんしゅう</rt><rp>）</rp></ruby></span><span>サーモン</span>
    </div>
    <div> 
      <%= image_tag "nizimasu.jpg", class: "fish-img" %>
    </div>
  </div>
</div>
