<h3 id="section3">水<span>の</span>こだわり</h3>
  <div class="second-content">
    <div class="sub-text">
      アルプスの麓に湧き出た<br>
      湧き水で育てているから<br>
      臭みが一切ない。<br>
      養殖だからこその<br>
      美味しさをお楽しみいただける。
    </div>
  </div>