<h3 id="section4">商品一覧</h3>
<div class="third-content ">
  <div class="product">
    <div class="product-name">塩焼き</div>
    <div>
      <%= image_tag "sioyaki.jpg", class: "product-img" %>
    </div>
    <div class="product-price">２００円/１匹〜</div>
  </div>
  <div class="product">
    <div class="product-name">甘露煮</div>
    <div>
      <%= image_tag "sioyaki.jpg", class: "product-img" %>
    </div>
    <div class="product-price">２００円/１匹〜</div>
  </div>
  <div class="product">
    <div class="product-name">フライ</div>
    <div>
      <%= image_tag "sioyaki.jpg", class: "product-img" %>
    </div>
    <div class="product-price">２００円/１匹〜</div>
  </div>
</div>