<%= provide(:title, "会社概要") %>
<div class="about-company"> 
<h3>会社概要</h3>
</div>

<table class="kaisha">
<tr>
<th>会社名</th>
<td>株式会社穂高共同食品</td>
</tr>
<tr>
<th>代表者</th>
<td>望月　靖</td>
</tr>
<tr>
<th>所在地</th>
<td><span>〒399-8303</span> <span>長野県 安曇野市</span> <span>穂高3990  <a href="https://goo.gl/maps/wurY39T4fejSJKax8" target="_blank" ><i class="fas fa-map-marker-alt"></i></a></span></td>
</tr>
<tr>
<th>電話<br>FAX</th>
<td>0263-82-3427</td>
</tr>
<tr>
<th>内容</th>
<td>・虹鱒、イワナ、<span>信州サーモンの加工</span>　<br>・一般のお客様への販売　<br>・市場、飲食店へ卸売り</td>
</tr>
</table>

<footer>
<div class="campany">

<div class="campany-name">(株)穂高共同食品</div>

<div class="campany-add">
  〒399-8303 長野県 安曇野市 穂高3990 
  <a href="https://goo.gl/maps/wurY39T4fejSJKax8" target="_blank" ><i class="fas fa-map-marker-alt"></i></a>
</div>

<div class="campany-contact">
  Tel Fax <a href="tel:0263-82-3427">0263-82-3427 <i class="fas fa-phone-alt"></i></a>
</div>

<div class="sales">
  定休日<span style="margin-right: 30px;"></span><span style="color:#0071fa;">土</span>・火曜日
</div>

<nav class="footer-list">
  <a href="../index.html">TOP</a>
  <a href="company.html">会社概要</a>
  <a href="../contact/contact.html">お問い合わせ</a>
  <a href="../access/access.html">アクセス</a>

</div>