<%= provide(:title, "アクセス") %>
<div class="sp-page">
  <div class="page-title">地図<i class="far fa-map"></i></div>
  <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3213.7614352552073!2d137.89877331521635!3d36.34233130103857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601d6dbff46271ed%3A0x48903fae2b2d1d9!2z56mC6auY5YWx5ZCM6aOf5ZOB!5e0!3m2!1sja!2sjp!4v1636547664432!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>