<%= provide(:title, "お問い合わせ") %>
<div class="contact">
  <div class="mail">
    <h3><i class="fas fa-envelope"></i>メールで<span>お問い合わせ</span></h3>
    <h4>hotaka_ks@ceres.ocn.ne.jp</h4> 
  </div>
  <div class="call">
    <h3><i class="fas fa-phone-alt"></i>電話又はFAXで<span>お問い合わせ</span></h3>
    <a href="tel:0263-82-3427">0263-82-3427</a>
  </div>
</div>