<% provide(:title, "新規登録受付") %>
<div class="sp-page"> 
  <div class="page-title"><span>仮会員登録が完了しました</span></div>
  <div class="contact-done">
    <p>※まだ、会員登録手続きは完了していません！※</span></p>
    <p>この度は会員登録<span>ありがとうございます。</span></p>
    <p>本会員登録のご案内メールを送信しました。</span></p>
    <p>そちらのメールより本会員登録をしてください。</span></p>
  </div>
  <div class="link">
    <%= link_to "TOPへ戻る", '/' %>
  </div>
</div>