<% provide(:title, "ユーザー一覧") %>
<div class="sp-page"> 
  <div class="page-title">ユーザー一覧</div>

  <div class="users">
    <% @users.each do |user| %>
      <div class="user-name"><%= link_to user.name, user %></div>
    <% end %>
  </div>
</div>