<div class="sp-page"> 
  <div class="page-title">お問い合わせを<span>受け付けました。</span></div>
  <div class="contact-done">
    <p>この度はお問い合わせいただき<span>ありがとうございます。</span></p>
    <p>返信までお時間をいただくことがあります。<span>ご了承ください。</span></p>
  </div>
  <div class="link">
    <%= link_to "TOPへ戻る", '/' %>
  </div>
</div>