/* 全体フォント指定 */
html,body {
  font-family: 'Noto Serif JP', serif;
  margin-top: 0;
  padding: 0;
  height:100%
}

/* ヘッダー */
/* ハンバーガーメニュー */
.menu {
  position: fixed;
  right: -100%;
  width: 100%;
  height: 50vh;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  color:black;
  background-color: white;
  transition: .3s;
  padding: 0;
}

.menu-list {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  :hover {
    border-bottom: 1px solid black;
  }
}

.menu-btn{
  position: fixed;
  top: 15px;
  left: 20px;
  width: 25px;
  height: 25px;
  z-index: 10;
}

.btn-line {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: .2s;
}

.btn-line::before,
.btn-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: .5s;
}

.btn-line::before {
  transform: translateY(-10px);
}

.btn-line::after {
  transform: translateY(10px);
}
.menu.open {
  right: 0;
  border-bottom: 1px dotted black;
}
.btn-line.open {
  background-color: transparent;
}
.btn-line.open::before,
.btn-line.open::after {
  content: "";
  background-color: black;
  transition: .2s;
}
.btn-line.open::before {
  transform: rotate(45deg);
}

.btn-line.open::after {
  transform: rotate(-45deg);
}

// * {
// 	box-sizing: border-box;
// 	margin: 0;
// 	padding: 0;
// }
::before , ::after {
	box-sizing: inherit;
}
button {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: inherit;
	vertical-align: middle;
	text-align: inherit;
	font: inherit;
	-webkit-appearance: none;
	appearance: none;
}


header{
  width: 100%;
  background-color: #fff;
  z-index: 100;
  white-space: nowrap;
  position: fixed;
  right: 0;
  left: 0;
  border-bottom: 1px solid #333;
  h1{
    height: 20%;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 0px;
    // display: inline-block;
  }
  a {
    color: #333;
    text-decoration: none;
  }
  h2 {
    // width: 200px;
    // display: block;
    font-size: 70%;
    font-weight: normal;
    padding-bottom: 3px;
    // margin: 0;
  }
}

.title {
  text-align: right;
  // float: right;
  width: 100%;
  display: inline-block;
  padding-top: 10px;
  margin-right: 10px;
  // position: relative;
  padding-right: 10px;
}

.logout-link {
  // display: inline-block;
  // float: right;
  // margin-top: 25px;
  // margin-right: 50px;
  position: absolute;
  left: 50px;
  top: 20px;
}



/* メイン */
.first{
  padding-top: 50px;
}

/* --- 全体のBOX定義 ---------------------------------------- */
.box {
  position   : relative;
  max-width  : 100%;
  height     : 550px;
  margin     : auto;
  overflow   : hidden;
}

/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;   /* 4画像 × 各5s = 20s */
  background-position: center;
  background-size: cover;
}

.bgImg::before {
  display: block;
  padding-top: 50%;
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image : image-url('DSC00382.JPG');   /* 背景の画像を指定 */
}
.box .src2 {
  background-image : image-url('top-img2.jpg');   /* 背景の画像を指定 */
  animation-delay  : 5s;
}
.box .src3 {
  background-image : image-url('news.jpg');   /* 背景の画像を指定 */
  animation-delay  : 10s;
}
.box .src4 {
  background-image : image-url('DSC00359.JPG');   /* 背景の画像を指定 */
  animation-delay  : 15s;
}

@keyframes bgAnime {
   0% { opacity: 0; transform: scale(1.3, 1.3); }
   1% { opacity: 1; transform: scale(1.3, 1.3); }
   5% { opacity: 1; transform: scale(1.3, 1.3); }
  21% { opacity: 1; transform: scale(1.0, 1.0); }
  25% { opacity: 1; transform: scale(1.0, 1.0); }
  26% { opacity: 0; }
 100% { opacity: 0; }
}

/* --- 前面の文字定義（サンプルのため変更してください） ----- */
.boxString{
  position   : absolute;
  display    : inline-block;
  padding    : 20px;
  background : rgba(70, 83, 102, 0.418);          /* 半透明の青 */
  color      : #fff;
  top        : 50%;                               /* 中央寄せ */
  left       : 50%;
  transform  : translate(-50%,-50%);
  color: white;
  line-height: 300%;
  letter-spacing: 0.1em;
  -ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
  font-size: 120%;
  height: 400px;
  min-height: 300px;
  p {
    span {
      font-size: 110%;
    }
  }
}

h3{
  font-size: 150%;
  padding: 0;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
  font-weight: normal;
  clear: both;
  letter-spacing: 5px;
  span {
    font-size: 80%;
  }
}

// お知らせ欄
.news {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.news-btn {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  a {
    color: white;
    background-color: rgb(29, 142, 255);
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
  }
}

.news-content {
  width: 90%;
  height: 50px;
  color: #333;
  margin: auto;
  text-decoration: none;
  display: block;
  border-bottom: 1px dotted black;
  &:hover {
    background : rgba(228, 232, 236, 0.418);
  }
  &:visited {
    color: #551A8B;
  }
}

.news-date {
  color: #333;
  font-size: 13px;
  display: inline-block;
  margin-right: 10%;
}

.news-title {
  width:  100%;
  display: inline-block;
  margin-left: 5px;
}

.new-arrival {
  font-size: 12px;
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 5px;
  display: inline-block;
  margin-right: 10px;
  float: right;
}

// お知らせ詳細
.news-detail {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 90%;
}

.news-img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.main-content,
.third-content {
  width: 100%;
  margin: 0 auto;
}

.fish-img, 
.top_product-img{
  vertical-align: bottom;
  width: 90%;
  max-width: 250px;
  height: 140px;
  margin: 0 auto;
  border-radius: 30px;
}

.fish-name,
.top_product-name {
  /* margin-top: 5%; */
  text-align: center;
  font-size: 20px;
}

.second-content{
  background-image: image-url('mizu.png');
  background-size: cover;
  width: 100%;
  margin-top: 15px;
  color: white;
  padding-top: 5px;
}

.sub-text{
  height: 450px;
  font-size:  20px;
  line-height: 3em;
  letter-spacing: 0.2em;
  padding-top: 10%;
  padding-left: 10px;
}

.top_product {
  .top_product-name {
    display: inline-block;
  }
  .slick-slide {
    display: inline-block;
  }
  .top_product-img {
    display: inline-block;
  }
  .top_product-price {
    margin-right: 25px;
    text-align: right;
    font-size: 15px;
  }
}

.top_prosucts-link {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  a {
    display: block;
    text-decoration: none;
  }
}


.buy{
  font-size: 110%;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
  clear: both;
}

span {
  display: inline-block;
}

/* フッター */

footer{
  font-size: 20px;
  border-top: 1px solid black  ;
  margin-top: 25px;
  text-align: center;
  line-height: 20px;
}

.campany-name{
  margin-top: 30px;
  font-size: 30px;
}

.campany-add{
  margin-top: 25px; 
}

.campany-contact{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}

.campany-contact a  {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

.sales{
  margin: 25px;
}

.footer-list {
  display: none!important;
}

.login {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* コピーライト */
.copyright p {
  font-size: 0.5rem;
  text-align: center;
}

/* 会社概要 */
.kaisha {
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  width: 95%;
  max-width: 600px;
  margin-bottom: 8%;
}
.kaisha th,
.kaisha td {
  border: 1px solid #ccc;
  padding: 20px;
}

.kaisha th {
  font-weight: bold;
  background-color: #dedede; 
}

/* お問い合わせ */
.mail {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.mail h4{
  font-size: 130%;
  margin-top: 10px;
}

.call {
  margin-top: 100px;
  margin-bottom: 7rem;
  text-align: center;
}

.call a {
  font-size: 180%;
  color: black;
  text-decoration: none;
  list-style: none;
}

/* アクセス */
.map {
  width: 80%;
  display: block;
  margin: auto;
  padding-bottom: 10%;
}

/* スライダー */

.slick-prev {
  left: 10px !important;
}

.slick-next {
  right: 15px !important;
}

.slick-prev::before,
.slick-next::before {
  color: rgb(255, 255, 255) !important;
  font-size: 30px !important;
}

.slick-prev,
.slick-next {
z-index: 100;
}

/* フェードイン */
.fade {
  transition: all 2000ms;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, 50px);
}

.fadein {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
} 

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
::before , ::after {
	box-sizing: inherit;
}
button {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: inherit;
	vertical-align: middle;
	text-align: inherit;
	font: inherit;
	-webkit-appearance: none;
	appearance: none;
}

// フォーム
.create-form {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.create-title {
  font-size: 30px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 30px;
}

.form-required{
  font-size: 15px;
  span {
    color: rgb(244, 71, 71);
  }
}

.form-template {
  text-align: left;
  width: 50%;
  min-width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 15px;
  p {
    font-size: 14px;
    color: rgb(244, 71, 71);
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0;
  }
}

.form-label {
  margin: 0;
}

input[type="text"] {
  height: 40px;
}
input[type="password"] {
  height: 40px;
}

#contact_message,
#micropost_content{
  height: 300px;
}

#contact_category {
  width: 100%;
  height: 30px;
  display: inline-block;
  margin-top: 5px;
  // float: right;
}

#contact_reply {
  height: 200px;
}

#product_introduction {
  height: 300px;
}

.alert {
  text-align: center;
  width: 50%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.form-alert {
  color: rgb(244, 71, 71);
  font-size: 15px;
}

.create_btn {
  text-align: center;
}

.btn {
  width: 150px;
  margin-top: 30px;
}

.consent {
  background-color: rgba(244, 238, 183, 0.389);
  width: 99%;
  h1, h2{
    font-size: 20px;
  }
}
.personal-info{
  h1{
    font-size: 20px;
  }
  p {
   font-style: 15px;
  }

}

// ユーザー
.user {
  padding-top: 90px;
  text-align: center;
}

.users {
  width: 80%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  // text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  .user-name {
    font-size: 20px;
    float: left;
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto;
    a {
      color: #333;
      text-decoration: none;
    }
  }
}

// お問い合わせ
.contact {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact-content {
  width: 90%;
  // height: 100px;
  color: #333;
  margin: auto;
  text-decoration: none;
  display: block;
  border-bottom: 1px dotted black;
  &:hover {
    background : rgba(228, 232, 236, 0.418);
  }
  &:visited {
    color: #551A8B;
  }
}

.contact-info {
  width:  100%;
  display: block;
  margin-left: 5px;
}

.contacts-name {
  font-size: 15px;
  display: block;
}

.contact-date {
  color: #333;
  font-size: 13px;
  display: inline-block;
  margin-top: 15px;
}

.contact-main {
  display: inline-block;
}

.contact-replyed {
  display: inline-block;
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}

// お問い合わせ詳細
.contact-detail {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact-name {
  font-size: 20px;
  display: block;
}

.contact-message {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  p {
    text-align: left;
    margin: 15px 0 5px 0
  }
  .message, .category {
    padding: 5px;
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
    p {
      margin: 0;
    }
  }
}

.contact-reply {
  width: 80%;
  max-width: 500px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  p {
    text-align: left;
    margin: 10px 0 5px 0
  }
  .reply {
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
  }
}

// お問い合わせ完了
.contact-done {
  text-align: center;
}

// ページネーション
.pagination{
  margin: 20px auto 0;
  width: 50%;
  display: flex;
  justify-content: center;
  span{
    text-align: center;
    width: 50px;
    :hover{
      background-color:#f3f3f3;
    }
    a{
      color: rgb(13, 110, 253);
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
      :hover{
        background-color: #f3f3f3;
      }
    }
  }
}

.current{
  color: black;
}

.gap{
  background-color: white !important;
}

// 商品
.product_show {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  .product_show-detail{
    width: 70%;
    min-width: 250px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
    .product_show-name {
      font-size: 30px;
      display: inline-block;
    }
    .product_show-price {
      display: block;
      // float: right;
    }
  .product_show-slide {
    .product_show-img {
      width: 300px;
      height: 200px;
    }
  }
  .product_show-introduction {
    font-size: 18px;
    overflow-wrap: break-word;
  }
}

.product_show-cart {
  width: 100%;
  font-size: 20px;
  min-width: 250px;
  max-width: 600px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  // display: flex;
  .form {
    display:flex;
    flex-flow: column;
  }
  .select {
    display: block;
  }
  .product_show-btn {
    margin-top: 5px;
    display: block;
    margin-left: auto;
  }
}

.product_index {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  min-width: 250px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #000;
    &:hover {
      background : rgba(228, 232, 236, 0.418);
    }
    &:visited {
      color: #551A8B;
    }
  }
  .product_index-content {
    // width: 50%;
    min-width: 250px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 15px;
    img {
      width: 100%;
      height: 45%;
      min-height: 200px;
      max-height: 550px;
    }
  }
  .product_index-name {
    font-size: 20px;
    display: block;
  }
  .product_index-price {
    display: block;
    // float: right;
  }
  .product_index-introduction {
    font-size: 16px;
    overflow-wrap: break-word;
    margin-top: 5px;
    display: block;
    p {
      margin-bottom: 5px;
    }
  }
}

.product_index:after {
  content: "";
  display: block;
  width: 50%;
  height: 0;
}

// カート
.mycart_show {
  width: 90%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  .mycart_show-detail {
    border-bottom: 1px dotted #000;
    border-spacing: 0 5px;
    border-spacing: 5px;
    display: flex;
    width: 100%;
    max-width: 600px;
    min-height: 100px;
    margin: 10px auto;
    .mycart_show-img {
      margin: 0;
      padding: 0;
      width: 33%;
      max-width: 250px;
      a {
        width: 100%;
        img {
          width: 100%;
          min-width: 100px;
          min-height: 100px;
          display: inline-block;
          margin: 0;
          padding: 0;
        }
      }
    }
    .mycart_product-info {
      position: relative;
      width: 45%;
      min-width: 100px;
      padding: 5px;
      .mycart_show-name {
        font-size: 15px;
        margin: 5px;
        height: 50px;
      }
      .mycart_show-price {
        position: absolute;
        bottom: 0;
        font-size: 16px;
        span {
          font-size: 12px;
          margin: 0 2px;
        }
      }
    }
    .mycart_show-update {
      display: inline-block;
      width: 25%;
      text-align: left;
      position: relative;
      a {
        float: right;
        padding: 5px;
      }
      form {
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 1px;
        min-width: 100px;
        span {
          padding: 0 5px;
          font-size: 11px;
        }
      }
    }
  }
  .mycart_show-total {
    font-size: 18px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    span {
      font-size: 15px;
    }
  }
}

.mycart_blank {
  font-size: 20px;
  text-align: center;
}

// ページ共通
.sp-page{
  padding-top: 70px;
  min-height: 80vh;
}

.page-title {
  font-size: 200%;
  font-weight: normal;
  margin-top: 11%;
  margin-bottom: 30px;
  text-align: center;
}

.link-tab {
  margin-top: 30px;
}
.link {
  display: block;
  font-size: 110%;
  margin-top: 10px;
  text-align: center;
  a {
    // color: black;
    text-decoration: none;
  }
}

// フラッシュメッセージ
.flash-notifications {
  width: 100%;
  // position: fixed;
  z-index: 999;
  font-weight: bold;
  color: white;
  text-align: center;  
  font-size: 15px;
  margin: 0;
  .notice {
    // width: 100%;
    background-color:rgba(117, 169, 246, 0.9);
  }
  .danger {
    background-color: #ff8800de;
  }
}


/* タブレット */
@media only screen and (min-width:600px) {
  header {
    position: initial;
    // padding-top: 10px;
  }
  .title {
    text-align: center;
    // padding: auto;
  }

  .menu-btn {
		display: none;
	}
  .menu {
		/* メニューを横に */
		display: flex;
		flex-direction: row;
		position: initial;
    padding-top: 35px;
    padding-bottom: 20px;
		top: 10;
		right: 0;
		width: 100%;
		height: 1px;
	}
  .first {
    padding-top: 0;
  }
  .h3 {
    margin-top: 8%;
  }
  .slick-prev {
    display: block !important;
  }
  
  .slick-next {
    display: block !important;
  }
  .fish-name,
  .top_product-name {
    font-size: 23px;
  }

  .sub-text{
    font-size: 200%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    height: 700px;
  }
  .main-content,
  .third-content {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fish,
  .top_product {
    width: 30%;
    text-align: center;
    margin: 0 1%;
  }
  .fish-img,
  .top_product-img {
    height: 180px;
    width: 100%;
  }
  .buy {
    font-size: 200%;
  }
  .footer-list {
    display: block !important;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .footer-list a {
    text-decoration: none;
    margin: 2.5%;
    white-space: nowrap;
  }
  
  .footer-list a :nth-child(n+1) {
    padding-left: 10px;
  }
  .sp-page {
    padding-top: 30px;
  }
  .page-title {
    padding-top: 0;
    margin-top: 10px;
  }
  .news-content {
    width: 400px;
  }
  .news-img {
    width: 500px;
  }
  .product_show {
    .product_show-slide {
      .product_show-img {
        width: 600px;
        height: 400px;
      }
    }
  }
  .product_index {
    .product_index-content {
      img {
        width: 100%;
        height: 70%;
        max-height: 550px;
      }
    }
  }

  // お問い合わせ
  .contact-content {
    width: 400px;
  }

  // フォーム
  .form {
    width: 70%;
  }
}

/* PC*/
@media only screen and (min-width:1000px) {
  .box {
    height: 1000px;
  }
  .fish-name,
  .top_product-name {
    font-size: 20px;
  }
  .map{
    width: 60%;
    height: 700px;
  }
  .news-content {
    width: 500px;
  }

  // お問い合わせ
  .contact-content{
    width: 500px;
  }
  // フォーム
  .form {
    width: 50%;
  }
}

