<% provide(:title, "仮会員登録メール再送信") %>
<div class="sp-page"> 
  <div class="page-title"><span>仮会員登録メール再送信が届かない場合</span></div>
  <div class="contact-done">
    <p>自動的に迷惑メールフィルタで迷惑メールとして別フォルダに振り分けられている場合があります。</span></p>
    <p>ご入力いただいたメールアドレスが間違っていたと予想される場合は、登録手続きを最初からやり直してください。</span></p>
  </div>
  <div class="link-tab">
    <div class="link">
      <%= link_to "新規会員登録", new_user_path %>
    </div>
    <div class="link">
      <%= link_to "TOPへ戻る", '/' %>
    </div>
  </div>
</div>